* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    height: auto;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row nowrap;
    background-color: #1F2937;
}

header h1 {
    font-size: 24px;
    color: #F9FAF8;
    padding: 10px;
}

header ul {
    overflow: hidden;
}

header a {
    font-size: 18px;
    color: #E5E7EB;
    padding: 10px;
}

#hero {
    height: auto;
    width: 100vw;
    background-color: #1F2937;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}

#hero-text {
    height: auto;
    width: auto;
}

#hero-text h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 5px;
}

#hero-text p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 5px;
}

#hero-text button {
    border-radius: 5px;
    color: white;
    background-color: #3882F6;
    border: none;
    padding: 5px 10px 5px 10px;
    margin: 5px;
    font-weight: bold;
}

#hero-image {
    height: 20vh;
    width: 40vh;
    background-color: rgb(255, 255, 255, 0.2);
    color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#info {
    height: auto;
    width: 100vw;
    background-color: white;
}

#info p {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    padding: 25px;
}

#block {
    height: auto;
    width: 100vw;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

#block p {
    font-size: 18px;
    font-weight: normal;
    color: #1F2937;
}

.square {
    height: auto;
    width: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin: 25px 0 50px 0;
}

.square div {
    height: 15vh;
    width: 15vh;
    background-color: white;
    border: solid 5px #3882F6;
    border-radius: 15px;
}

#quote {
    background-color: #E5E7EB;
    height: auto;
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 50px 0 50px 0;
}

#quote h1 {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    text-align: left;
}

#quote p {
    font-size: 18px;
    font-weight: bolder;
    color: #1F2937;
    text-align: right;
    margin: 0 50px 0 0;
}

#call {
    height: auto;
    width: 100vw;
    background-color: white;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

#call p {
    font-size: 24px;
    color: white;
    text-align: left;
}

#housing {
    height: auto;
    width: 50vw;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: #3882F6;
    border-radius: 5px;
    padding: 25px;
}

#housing div {
    height: auto;
    width: auto;
}

#span-header {
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

#span-text {
    display: block;
    font-size: 18px;
    color: #E5E7EB;
}

#housing button {
    border-radius: 5px;
    color: white;
    background-color: transparent;
    border: solid 1px white;
    padding: 5px 10px 5px 10px;
    font-weight: bold;
}

footer {
    height: auto;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    background-color: #1F2937;
}

footer p {
    font-size: 18px;
    color: #E5E7EB;
    padding: 25px 0 25px 0;
}